
<div class="log-workout-container">
  <button type="button" class="log-workout-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Log Workout
  </button>
</div>


  <div class="workout-container row d-flex">
    <% @workouts.each do |workout| %>
        <div class="card-workout col-4 mt-2">
          <%= link_to  workout_path(workout) do %>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="card-title"><strong><%= workout.name %></strong></p>
            </div>
              <p class="card-title-date"><%=workout.date%></p>
              <% end %>
              <p type="" class="workout-btn" data-bs-toggle="modal" data-bs-target="#exampleModal<%= workout.id %>">Add Exercise</p>
              <p type="" class="workout-btn" data-bs-toggle="modal" data-bs-target="#exampleModal2<%= workout.id %>">Add Cardio</p>
              <%= link_to "Delete", workout_path(workout), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this workout log?" } %>
          </div>
        </div>





        <%# weight %>
        <div class="modal fade" id="exampleModal<%= workout.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add exercise details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= render "exercises/new", exercise: @exercise, workout: workout %>
              </div>
            </div>
          </div>
        </div>


        <%# cardio %>
        <div class="modal fade" id="exampleModal2<%= workout.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Add Cardio Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= render "exercises/new_cardio", exercise: @exercise, workout: workout %>
              </div>
            </div>
          </div>
        </div>
     <% end %>
  </div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Enter details of your workout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= render "workouts/new" %>
      </div>
    </div>
  </div>
</div>
