<div class="friends-page" style="background-image: url('https://source.unsplash.com//9aOswReDKPo')">
  <div class="friends-title">
    <h1>Friends</h1>
      <p>Reach out to one of your friends!</p>
  </div>
  <div class="friends-list-container">

    <div class="friends-following-list">
        <p>Following: <%=current_account.following.count%></p>
          <% current_account.following.each do |follow|%>
          <div class="friends-following-card">

                <li>
               <% if follow.avatar.attached? %>
                  <img src=" <%= cl_image_path follow.avatar.key%>" alt="avatar" class="user-avatar-mini">
              <% else %>
                  <img src="https://source.unsplash.com/kL4coQHVj_A" alt="avatar" class="user-avatar-mini">
              <% end %>
                </li>

                <li>
                  <%= link_to profile_path(follow.username) do%>
                    <%= follow.username %>
                  <% end %>
                </li>
                <li>
                  <%= link_to conversations_path do%>
                    <i class="fa-solid fa-envelope"></i>
                  <% end %>
                </li>
            </div>
          <% end %>
    </div>


    <div class="friends-followers-list">
        <p>Followers: <%=current_account.followers.count%></p>
          <% current_account.followers.each do |follow|%>
            <div class="friends-followers-card">
                   <li>
               <% if follow.avatar.attached? %>
                  <img src=" <%= cl_image_path follow.avatar.key%>" alt="avatar" class="user-avatar-mini">
              <% else %>
                  <img src="https://source.unsplash.com/kL4coQHVj_A" alt="avatar" class="user-avatar-mini">
              <% end %>
                </li>
                <li>
                  <%= link_to profile_path(follow.username) do%>
                    <%= follow.username %>
                  <% end %>
                </li>
                <li>
                  <%= link_to conversations_path do%>
                    <i class="fa-solid fa-envelope"></i>
                  <% end %>
                </li>
            </div>
          <% end %>
    </div>
  </div>
</div>
