<div class="my-feed-header">
  <p>My feed</p>
</div>
<% if current_account.following.present? %>
    <div class="flex-container">
      <div class="post-card">
        <% current_account.following.each do |follow| %>
          <%follow.posts.each do |post|%>
            <div class="post-header">
                <img src="<%=cl_image_path post.account.avatar.key %>" alt="" class="user-avatar-mini">
                  <%=link_to profile_path(post.account.username) do%>
                <p><%= post.account.username %></p>
                  <% end %>
              </div>
                <%=link_to post_path(post) do %>
                  <%=cl_image_tag post.photo.key, width:400, height: 300, crop: :fill %>
                <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
<% else %>
  <p style="text-align:center;">Make some friends and all you followers feed will be displayed here</p>
<% end %>
