<div class="posts-show-page">

    <div class="back-link">
        <%=link_to :back do%>
              <i class="fa-solid fa-angles-left"></i>
          <% end %>
    </div>

    <div class="post-show-header">
      <%=link_to profile_path(@post.account.username) do%>
      <p><img src="<%=cl_image_path @post.account.avatar.key%>" alt="user image" class="user-avatar-mini"><%= @post.account.username %></p>
      <% end %>
      <%=cl_image_tag @post.photo.key, width:400, height: 300, crop: :fill%>
    </div>

      <div class="comment-form-container" data-controller="insert-in-list" data-insert-in-list-position-value="afterbegin">
        <%= render 'comments/form', post: @post, comment: @comment%>
        <div data-insert-in-list-target="items">
          <% @post.comments.each do |comment| %>
           <%= render 'posts/comment', comment: comment%>
          <% end %>
        </div>
      </div>

</div>
