<div class="posts-show-page">

    <div class="back-link">
        <%=link_to :back do%>
              <i class="fa-solid fa-angles-left"></i>
          <% end %>
    </div>

    <div class="post-show-header">
            <%=link_to profile_path(@post.account.username) do%>
                <% if @post.account.avatar.present? %>
                    <p><img src="<%=cl_image_path @post.account.avatar.key%>" alt="user image" class="user-avatar-mini"><%= @post.account.username %></p>
                  <% else %>
                      <p><img src="https://source.unsplash.com/kL4coQHVj_A" alt="avatar" class="user-avatar-mini"><%= @post.account.username %></p>
                <% end %>
            <% end %>
                  <%=cl_image_tag @post.photo.key, width:400, height: 300, crop: :fill%>
            <div class="post-links">
             <% if @post.account == current_account %>
                  <%= link_to post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this workout log?" } do%>
                  <i class="fa-regular fa-trash-can"> Delete</i>
                  <% end %>
                <div class="profile-edit-link">
                   <%=link_to edit_post_path do %>
                   <i class="fa-regular fa-pen-to-square"> Edit Post</i>
                   <% end %>
             <% end %>
                </div>
        </div>
            <div class="post-content">
              <p><%=@post.content %></p>
          </div>

        <div class="comment-form-container" data-controller="insert-in-list" data-insert-in-list-position-value="afterbegin">
          <%= render 'comments/form', post: @post, comment: @comment%>
          <div data-insert-in-list-target="items">
            <% @post.comments.each do |comment| %>
            <%= render 'posts/comment', comment: comment%>
            <% end %>
          </div>
        </div>
      <div>
</div>
