<p data-account=<%= account.id %>>
  <% if current_account.is_following?(account.id) %>
    <%# <%= link_to "Unfollow", unfollow_account_path(account.id), data: {turbo_method: :post }, class: "text-decoration-none", remote: true %>
  <% else %>
  <%= account.username %>
  <img src="<%=cl_image_path account.avatar.key %>" alt="" class="user-avatar-mini">
  <%= link_to "Follow", follow_account_path(account), data: {turbo_method: :post }, remote: true, class: "text-decoration-none" %>
  <% end %>
</p>
