<%# <div class="dashboard-header">
<h1>Feed</h1>
<h1>Users:</h1>
<ul>
  <%= render @accounts %>
<%# </ul> %>

<%# <p>Following: <%=@current_account.following.count%></p>
<%# <p>Followers: <%=@current_account.followers.count%></p>
</div>
  <div class="flex-container">
    <div class="post-card">
      <% @posts.each do |post|%>
      <div class="post-header">
      <img src="<%=cl_image_path post.account.avatar.key %>" alt="" class="user-avatar-mini">
      <p><%= post.account.username %></p>
      </div>
        <%=link_to post_path(post) do %>
      <%=cl_image_tag post.photo.key, width:400, height: 300, crop: :fill %>
        <%end%>
      <%end%>
      </div>
  </div>
