

<div class="new-user-container">
  <p class="new-user-list">
    <%= render @accounts.first(3) %>
  </p>
</div>

<div>
  <%=link_to "My Feed", feed_path%>
</div>

  <div class="flex-container">
    <div class="post-card">
          <% @posts.each do |post|%>
            <div class="post-header">
            <img src="<%=cl_image_path post.account.avatar.key %>" alt="" class="user-avatar-mini">
            <p><%= post.account.username %></p>
            </div>
              <%=link_to post_path(post) do %>
            <%=cl_image_tag post.photo.key, width:400, height: 300, crop: :fill %>
              <%end%>
          <%end%>
    </div>
  </div>
